@import "../../scss/base/base.scss";

.ageWrapper {
	margin-bottom: base-gutter(4);
}

.ageLabel {
	text-transform: uppercase;
	font-size: 11px;
}

.inputWrapper {
	// @include flex();
	margin-top: base-gutter(1);
}

@include resp-sm {
	.inputWrapper {
		@include flex();
		gap: base-gutter(1);
	}
}