@import "../../scss/base/base.scss";
.text{
  //background-color: white;
  //border: 2px solid $light-grey;
  //border: 2px solid $orange-color;
  border-radius: $default-spacing;
  padding:  2px 10px;
  color: $orange-color;
  font-size: 12px;
  //color: black;
}