.sexRadio{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sexRadio__label{
  font-size: 11px;
  width: 100%;
  box-sizing: border-box;
}

.box{
  position: relative;
  width: 100%;
}