@import "../../scss/base/base.scss";

.changeProfile{
  width: 100%;
  margin: 0 auto 20px;
  box-sizing: border-box;
}
.header_text{
  padding: 15px 10px 15px 20px;
  font-size: 15px;
  top: 66px;
  z-index: 500;
  background-color: white;
  position: fixed;
  width:100%;
  @include shadow();

}

.content{
  padding: 60px 10px 10px;
  margin: 100px auto 30px ;

}

.formStyle_label{
  font-size: 11px;
  width: 100%;
  box-sizing: border-box;
}

.containerForm {
  max-width: 530px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  padding: 0 0 20px;
  //@include shadow();
  border-radius: $default-radius;
  //position: relative;
}
.textBox{
  padding: 0 0 20px 0;
}
.buttonBox{
  display: flex;
  width: 100%;
  //flex-direction: column;
}

@include resp-md{
  .changeProfile{
    border-radius: 10px;
    background-color: white;
    max-width: 530px;;
    @include shadow();

  }
  .containerForm{
    background-color: transparent;
    box-shadow: none;
    //width: 90%;
    padding: 0;
  }
  .content{
    padding: 10px;
    margin: 0 auto;
  }
  .header_text{
    margin: 0;
    position: static;
    box-shadow: none;
  }
  .buttonBox{
    //flex-direction: row;
  }
}
@include resp-sm{
  .containerForm{
    padding: 0 10px;
  }
}